<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div id="error explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this category from being saved: </h2>

      <ul>
        <% task.errors.each do |error| %>
         <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
      <div class="category-detail-list">
        <div class="category-add">
          <div class="category-add-field">
            <%= form.label :title, class: "taskLabel"%>
            <%= form.text_field :title, class: "ctitleInput" %>
          </div>
        </div>
        <div class="category-add">
          <div class="category-add-field">
            <%= form.label :details, class: "taskLabel" %>
            <%= form.text_area :details, class: "cdetailsInput" %>
          </div>
        </div>
        <div class="category-add">
          <div class="category-options">
          <div class="">
            <%= form.label :category, class: "taskLabel"%>
            <%= form.collection_select :category_id, current_user.categories, :id, :title%>
          </div>
          </div>
        </div>
        <div class="category-add">
          <div class="category-options">
            <%= form.label :due_date, class: "taskLabel"%>
            <%= form.date_select :due %>
          </div>
        </div>
         <div class="category-add">
          <div class="category-options">
            <%= form.label :finished?, class: "taskLabel"%>
            <%= form.check_box :fin, class: "form-check-input" %>
          </div>
        </div>
        <div class="category-add">
          <div class="category-options">
            <%= form.label :Favorite, class: "taskLabel"%>
            <%= form.check_box :favorite, class: "form-check-input" %>
          </div>
        </div>
        <div class="submit">
          <%= form.submit "Submit", class: "button-form" %>
        </div>
      </div>
<% end %>