<div class="category-show">
  <% if user_signed_in? %>
    <div class="category-show-top">
      <div class="category-show-left">
      <%= link_to image_tag("back.png", :class => "buttons"), :back %> 
      <%= link_to image_tag("home.png", :class => "buttons"), "/" %> 
      </div>
      <div class="category-show-middle"> All Tasks </div>
      <div class="category-show-right">
        <%= link_to image_tag("add.png", :class => "buttons"), new_task_path %>
        <%= link_to image_tag("setting.png", :class => "buttons") %>
        <%= link_to image_tag("logout.png", :class => "buttons"), destroy_user_session_path, method: :get %>
      </div>
    </div>
    <div class="category-show-bottom">
      <% @tasks.each do |tasks| %>
      <div class="category-show-list">
        <div class="header-title"> <%= link_to tasks.title, task_path(tasks.id), :class => "header-title-text" %></div>
        <div class="header-author"> <%= tasks.details %> </div>
        <div class="header-created-red"> Due on: <%= tasks.due.to_time.strftime('%B %e %Y') %> </div>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
