<div class="body">
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= image_tag "e.png", class: "icon"%>
  <h2 class="forgot-header">Forgot Password</h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="email">
        <%= f.label :email, class: "emailLabel" %><br />
        <%= f.email_field :email, class: "emailInput", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="submit">
        <%= f.submit "Continue", class: "button" %>
      </div>
    <% end %>
    <div class="links"> 
      <a href="/users/sign_up" class="sup">Sign up</a>
      <a href="/users/sign_in" class="for">Log in</a>
    </div>
</div>
