<%= form_with(model: category) do |form| %>
  <% if category.errors.any? %>
    <div id="error explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved: </h2>

      <ul>
        <% category.errors.each do |error| %>
         <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
      <div class="category-detail-list">
        <div class="category-add">
          <div class="category-add-field">
            <%= form.label :title, class: "ctitleLabel"%>
            <%= form.text_field :title, class: "ctitleInput" %>
          </div>
        </div>
        <div class="category-add">
          <div class="category-add-field">
            <%= form.label :details, class: "cdetailsLabel" %>
            <%= form.text_area :details, class: "cdetailsInput" %>
          </div>
        </div>
        <div class="submit">
        <%= form.submit "Submit", class: "button-form" %>
        </div>
      </div>
<% end %>