<div class="category-show-id">
    <div class="category-show-top">
      <div class="category-show-left">
      <%= link_to image_tag("back.png", :class => "buttons"), :back %> 
      <%= link_to image_tag("home.png", :class => "buttons"), "/" %> 
      </div>
      <div class="category-show-middle"> <%= @category.title %> </div>
      <div class="category-show-right">
        <%= link_to image_tag("add.png", :class => "buttons"), new_task_path %>
        <%= link_to image_tag("edit.png", :class => "buttons"), edit_category_path %>
        <%= link_to image_tag("delete.png", :class => "buttons"), @category, method: :delete  %>
        <%= link_to image_tag("logout.png", :class => "buttons"), destroy_user_session_path, method: :get %>
      </div>
    </div>
    <div class="category-id-bottom">
      <div class="category-detail-list">
        <div class="catId-details"> <%= @category.details %> </div>
        <div class="catId-created"> <%= @category.created_at.to_time.strftime('%B %e at %l:%M %p') %> </div>
        <div class="category-show-bottom">
          <% @tasks.each do |tasks| %>
          <div class="category-show-list">
            <div class="header-title"> <%= link_to tasks.title, task_path(tasks.id), :class => "header-title-text" %></div>
            <div class="header-author"> <%= tasks.details %> </div>
            <div class="header-created"> <%= tasks.created_at.to_time.strftime('%B %e at %l:%M %p') %> </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
</div>